.mobile-footer {
  padding: 50px;
}

.content-foot-logo,
.subtitle-desktop {
  display: none;
}

.vectors {
  width: 171px;

  display: flex;
  justify-content: space-between;

  margin: 0 auto;
}

.vect1,
.vect2,
.vect3 {
  height: 41px;
}

.subtitle-mb,
.subtitle-desktop {
  font-size: 0.4rem;
  color: var(--text-bg-color);
  margin-top: 10px;
}

@media screen and (min-width: 576px) {
  .mobile-footer {
    display: flex;
    justify-content: space-around;

    padding: 50px 20px 0 0;
  }

  .f-logo {
    width: 246px;
  }

  .content-foot-logo,
  .subtitle-desktop {
    display: inline-block;
  }

  .subtitle-mb {
    display: none;
  }

  .vectors,
  .subtitle-desktop {
    margin-top: 30px;
  }

  .subtitle-desktop {
    margin-top: 40px;
  }
}
