.mobile-navbar {
  display: flex;
  justify-content: space-between;
  
  padding: 17px 25px 17px 5px;
}

.content-logo {
  max-width: 100%;
  width: 104px;
}

.logo {
  width: inherit;
  object-fit: contain;
  object-position: center;
}

.menu {
  margin: 23px 0;
  width: 40px;
}

.vector {
  margin-left: 13px;
}

@media screen and (min-width: 576px) {
  .mobile-navbar {
    padding: 20px 35px 20px 10px;
  }

  .content-logo {
    width: 206px;
  }

  .menu {
    margin: 40px 0;
  }
}
