.group-54 {
  height: 380px;
}
.rectangle-wrapper,
.rectangle {
  width: 324px;
  height: 432px;
  left: 5px;
  top: -54px;
  z-index: 1;
}

.rectangle {
  background-image: url('./img-gr/Rectangle.png');
}

.rectangle1 {
  background-image: url('./img-gr/Rectangle\ \(1\).png');
  width: 169px;
  height: 358px;
  left: 164px;
  top: 30px;
}

@media screen and (min-width: 486px) {
  .group-54 {
    height: 460px;
  }

  .rectangle-wrapper,
  .rectangle {
    width: 488px;
    height: 620px;
    top: -70px;
  }
  .rectangle {
    left: 20px
  }

  .rectangle1 {
    width: 230px;
    height: 441px;
    left: 234px;
    top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .group-54 {
    height: 500px;
  }

  .rectangle-wrapper,
  .rectangle {
    width: 508px;
    height: 650px;
    
  }
  .rectangle {
    left: 20px
  }

  .rectangle1 {
    width: 245px;
    height: 491px;
    left: 254px;
    top: 30px;
  }
}

@media screen and (min-width: 992px) {
  .group-54 {
    height: 520px;
  }

  .rectangle-wrapper,
  .rectangle {
    width: 548px;
    height: 700px;
    top: -75px;
  }
  .rectangle {
    left: 50px
  }

  .rectangle1 {
    width: 285px;
    height: 531px;
    left: 284px;
    top: 20px;
  }
}