.group-54 {

}

.rectangle-wrapper,
.rectangle {
  width: 424px;
  height: 492px;
  left: 11px;
  top: -54px;
  z-index: 1;
}

.rectangle {
  background-image: url('./img-gr/Rectangle.png');
}

.rectangle1 {
  background-image: url('./img-gr/Rectangle\ \(1\).png');
  width: 219px;
  height: 408px;
  left: 194px;
  top: 30px;
}

@media screen and (min-width: 576px) {
  .rectangle-wrapper,
  .rectangle {
    width: 488px;
    height: 550px;
  
  }
  .rectangle {
    left: 20px
  }

  .rectangle1 {
    width: 230px;
    height: 441px;
    left: 234px;
    top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .rectangle-wrapper,
  .rectangle {
    width: 508px;
    height: 600px;
  
  }
  .rectangle {
    left: 20px
  }

  .rectangle1 {
    width: 245px;
    height: 491px;
    left: 254px;
   
  }
}

@media screen and (min-width: 992px) {
  .rectangle-wrapper,
  .rectangle {
    width: 548px;
    height: 640px;
  
  }
  .rectangle {
    left: 50px
  }

  .rectangle1 {
    width: 285px;
    height: 531px;
    left: 284px;
    
  }
}