.mobile-header-light-7{
text-align: center;
background-color: var(--bg-txt-light-color);
}

.text-content{
  margin: 50px 0;
  line-height: 1.2;
 
  color: var(--text-color);
}

.heading{
font-size: 0.66rem;

}

.text-heading{
font-size: 1.3rem;
color: var(--text-bg-color);
padding: 15px 0;
}

.text-offer{
  line-height: 1.4;
}

.big-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 236px;
  margin: 0 auto;
}

.big-btn-play, .big-btn-app{
  font-size: 1rem;
 
  padding: 15px 30px;
  margin: 10px;

  border: solid 1px var(--txt-btn-color);
  border-radius: 30px;
 
  background-color: var(--txt-btn-color);
  color: var(--bg-txt-light-color);

}

.big-btn-app{
  background-color: var(--bg-txt-light-color);
  color: var(--txt-btn-color);
}