.tel-group {
  padding-bottom: 50px;
}

.rectangle-wrapper {
  display: flex;
}

.rectangle-right {
  margin-top: 50px;
}

@media screen and (min-width: 576px) {
  .rectangle-wrapper {
    margin-top: -75px;
  }
}
