.content2-wrapper {
  width: 100%;
}

.text2-wrapper{
  margin-top: 520px;
}

.rect2-wrapper {
  background-image: url('./bg-img2-3/Rectangle\ \(2\).png');
  width: 320px;
  height: 500px;
  
}

@media screen and (min-width: 450px) {
  .rect2-wrapper {
    width: 350px;
    left: 50px;
  }
}

@media screen and (min-width: 740px) {
  .text-content2 {
    margin-top: 180px;
  }

  .content2-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .text2-wrapper {
    text-align: left;
    width: 380px;
    margin: 60px;
  }

  .text-cont-h3 {
    margin-top: 136px;
  }

  .marg-h2,
  .marg-h4 {
    margin: 0;
  }
  .rect2-wrapper {
    left: 480px;
  }
}

@media screen and (min-width: 950px) {
  .text2-wrapper {
    margin-left: 180px;
  }

  .rect2-wrapper {
    width: 370px;
    left: 630px;
  }
}

