:root {
  --bg-txt-light-color: #ffffff;
  --text-color: #737373;
  --text-bg-color: #252b42;
  --txt-btn-color: #fa4a0c;
 

  font-size: 24px;

  font-family: 'Montserrat';
  text-align: center;
  
}

.orange-heading {
  color: var(--txt-btn-color);
}

.gray-heading {
  font-size: 1.3rem;
  color: var(--text-bg-color);
  padding: 15px 0;
}

.light-gray-heading {
  color: var(--text-color);
  line-height: 1.4;
}

.cursor {
  cursor: pointer;
}

.font-weight-bold {
  font-weight: 700;
}

.jc-center {
  justify-content: center;
}


