:root {
  --bg-txt-light-color: #ffffff;
  --text-color: #737373;
  --text-bg-color: #252b42;
  --txt-btn-color: #fa4a0c;
 

  font-size: 24px;

  font-family: 'Montserrat';
  text-align: center;
  padding: 0 10px;
}

.text-heading-h2 {
  font-size: 1.3rem;
  color: var(--text-bg-color);
  padding: 15px 0;
}

.text-offer-h4 {
  color: var(--text-color);
  line-height: 1.4;
}

.marg-h2 {
  margin: 30px 0;
}

.marg-h4 {
  margin: 10px 50px;
}

.text-cont-h3 {
  color: var(--txt-btn-color);
}

.font-weight-bold {
  font-weight: 700;
}

.jc-center {
  justify-content: center;
}

.bg-img-form {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: absolute;
}

.position-rel {
  position: relative;
}
